body{
    background:url('../../../img/background.jpg');
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    overflow: hidden;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  
}

.myColor {
    background:  #4d1070;
}

.nome, .mylist{
    margin-left: 20px;

}


.atendimento_tipo{
    margin-left: 480px;
    font-size: 40px;
}

main .container{
    display: flex;
    width: 100%;
}

.Nivel_1, .Nivel_2 {
    background:rgba(0, 0, 0, 0);
    padding: 20px;
}

.parte_1, .parte_2 {
    display: flex;
    flex-direction: column;
    width:100%;
    padding: 10px;    
}

.parte_2 {
    margin-top: 10px;
}

.back {
    cursor: pointer;
}

.search_bar {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid #ddd;
    margin-bottom: 20px;
    background: white;
    color: white;
}

.table-container {
    display: flex;
    width: 100%;
    

}

.caption{
    background: #4d1070;
    color: white;
    height: 30px;
    text-align: center;
    line-height: 25px;
    font-size: 20px;
    border-radius: 5px;
    border: 2px solid white;
    position: sticky;
    top: 0;
}

.categorias, .produtos, .carrinho, .comanda {
    background: rgb(116, 105, 105);
    border-radius: 4px;
    overflow: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;  

}


.categorias::-webkit-scrollbar, .produtos::-webkit-scrollbar, .carrinho::-webkit-scrollbar, .comanda::-webkit-scrollbar {
    display: none; 
} 

.categorias, .produtos {
    width: 100%;
    height: 75vh;

}

.menos:hover,.mais:hover{
    background: #8c2cc4;
}


.categorias {
    width: 30%;
}

.produtos {
    width: 70%;
    max-width: 70%;
    margin-left: 10px;
}

.carrinho {
    width: 50%;
    height: 75vh;
}



.myLine {
    width: 2px;
    height: 120vh;
    background: white;
}

.comanda {
    width: 50%;
    margin-left: 10px;
    height: 75vh;
}

.content {
    padding: 10px;
}

.itens, .itens_carrinho {
    display: flex;
    justify-content: space-between;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 10px;
    border-bottom: 1px solid #ddd;
    margin-bottom: 10px;
}

.itens {
    cursor: pointer;
}


.preco {
    margin-left: auto;
    background: rgb(116, 105, 105);
    color: white;
}

.itens_carrinho span {
    margin-right: 20px;
    color: white;
    width: 30px;
    text-align: center;
    border-radius: 3px;
    border: 1px solid white;
    cursor: pointer;
    max-height: 30px;
}

.produto_nm {
    max-width: 200px;
    white-space: normal;
}


.itens_carrinho span:hover{
    background:#4d1070;
}

.descricao_produto {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background: rgb(116, 105, 105);
    border-radius: 4px;
    width: 100%;
    height: 100%;
}

.produto_nome {
    font-size: 20px;
    color: rgb(0, 0, 0);
    margin-bottom: 20px;
    padding: 5px;
    border-bottom: 1px solid white;
    max-width: 300px;
    white-space: normal;
}

.quantidade_produto {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100px;
    margin-bottom: 20px;
}

.quantidade_produto input {
    font-size: 18px;
    color: white;
    text-align: center;
    /* border: 1px solid white;
    border-radius: 3px; */
}

.quantidade_produto button {
    background: #4d1070;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

.enviar_produto {
    background: #4d1070;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 100px;
}

.enviar_produto i , .enviar_comanda i{
    font-size: 15px;
    margin-left: 10px;
    margin-top: 4px;
}

.total_preco {
    font-size: 18px;
    color: white;
}

.container_botoes {
    display: flex;
    flex-direction: row; /* Alinha os botões lado a lado */
    width: 100%;
    padding: 10px 0;
    justify-content: space-between; /* Espaço igual entre os elementos */
}

.botoes_carrinho, .botoes_comanda {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    flex-direction: row; /* Alinha os botões lado a lado */
}

.enviar_comanda, .imprimir_parcial, .fechar_comanda {
    background: #4d1070;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.botoes_comanda{
    margin-right: 10px;
    margin-left: 10px;
}

.fechar_comanda{
    margin-left: 10px;
}

.enviar_comanda {
    margin-left: 70px;
}

a:hover {
    background: #6e1f9c;
}

.valores {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    padding: 10px;
    background: rgb(78, 69, 69);
    border-radius: 4px;
    width: 90%;
    color: white;
    margin-left: 10px;
    margin-bottom: 5px;
}


.valores p {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 5px 0;
    padding: 5px;
}

.valores span {
    font-weight: bold;
}

.v_pago span {
    color: rgb(0, 225, 0);
}

.v_resto span {
    color: orange;
}

.pagamento {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background: rgb(78, 69, 69);
    border-radius: 4px;
    width: 90%;
    margin-left: 10px;
    margin-bottom: 5px;
    color: white;
}

.pagamento_campos {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.pagamento_campos input,
.pagamento_campos select {
    width: 45%;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ddd;
}


.pagamento_campos select{
    color: gray;
}

.adicionar_pagamento {
    align-self: center;
    background: #4d1070;
    width: 80%;
    margin-right: 10px;
    text-align: center;
    height: 40px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.adicionar_pagamento i {
    margin-top: 10px;
}


.lista_pagamentos {
    margin-top: 15px;
    width: 100%;
}

.lista_pagamentos li {
    padding: 15px 0 15px 0;
    border-bottom: 1px solid white;

}

.lista_pagamentos li i {
    border: 1px solid white;
    float: right; /* Isso faz o elemento flutuar para a esquerda */
    border-radius: 50%;
    cursor: pointer;
}

.lista_pagamentos li i:hover{
    background: white;
    color: black;
}

.checkboxTaxa {
    padding-bottom: 10px;
}