<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Earth.TEC - Frente</title>

    <link rel="stylesheet" href="../../libs/reset.css">
    <link rel="stylesheet" href="../../libs/materialize.min.css">
    <link rel="stylesheet" href="../../libs/google-fonts.css">
    <link rel="stylesheet" href="../frente/css/frente.css">
    <link rel="stylesheet" href="../mesa/css/mesa.css">
    <link rel="stylesheet" href="css/balcao.css">
    <script src="../../libs/jquery.js"></script>

        
</head>
<body>
    <header>
        <nav class="myColor">
            <div class="nav-wrapper">
                <div class="brand-logo right">
                    <i class="large material-icons back" >close</i>
                </div>
                   <ul id="nav-mobile" class="myNav">
                        <li> 
                            <div class="mylist">
                                 <i class="large material-icons">account_circle</i>
                            </div>
                        </li>
                        <li> 
                            <p class="nome"></p>
                         </li>
                 </ul>
            </div>
        </nav>
    </header>   
<main>
    <section class="myButtons">
        <div class="myBalcao">
            <div class="controles">
                <p class="titulo">Total:</p>
                <div class="total upFont">
                    <p class="montante">R$ ****,**</p>
                    <i class="small material-icons see">visibility_off</i>
                </div>
                <div class="addPedido novoPedido">
                    <i class="small material-icons">add_circle</i>
                    <p>
                        Adicionar atendimento
                    </p>
                </div>
            </div>
            <ul class="collection lista">
            </ul>
        </div>
    </section>
</main>
<script src="js/balcao.js"></script>
</body>
</html>