<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Earth.TEC - Mesa</title>

    <link rel="stylesheet" href="../../libs/reset.css">
    <link rel="stylesheet" href="../../libs/materialize.min.css">
    <link rel="stylesheet" href="../../libs/google-fonts.css">
    <link rel="stylesheet" href="../frente/css/frente.css">
    <link rel="stylesheet" href="css/mesa.css">


    <script src="../../libs/jquery.js"></script>


</head>
<body>
    <header>
        <nav class="myColor">
            <div class="nav-wrapper">
              <div class="brand-logo right">
                <i class="large material-icons back" >close</i>
              </div>
              <ul id="nav-mobile" class="myNav">
                <li> 
                    <div class="mylist">
                        <i class="large material-icons">account_circle</i>
                    </div>
                </li>
                <li> 
                    <p class="nome"></p>
                </li>
              </ul>
            </div>
        </nav>
    </header>   
    <main>
        <section class="myButtons">
            <p class="titulo">Total:</p>
            <div class="total upFont">

                <p class="montante">R$ ****,**</p>
                <i class="small material-icons see verTotal">visibility_off</i>
            </div>

            <p class="titulo ti">Nas Mesas:</p>
            <div class="total upFont Mesas">

                <p class="totalNaMesa">R$ ****,**</p>
                <i class="small material-icons see verMesa">visibility_off</i>
            </div>
            <a class="botoes upFont" data-mesa_id="1">1</a>
            <a class="botoes upFont" data-mesa_id="2">2</a>
            <a class="botoes upFont" data-mesa_id="3">3</a>
            <a class="botoes upFont" data-mesa_id="4">4</a>
            <a class="botoes upFont" data-mesa_id="5">5</a>
            <a class="botoes upFont" data-mesa_id="6">6</a>
            <a class="botoes upFont" data-mesa_id="7">7</a>
            <a class="botoes upFont" data-mesa_id="8">8</a>
        </section>
    </main>
    <script src="js/mesa.js"></script>
</body>
</html>