<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Earth.TEC - Frente</title>

    <link rel="stylesheet" href="../../libs/reset.css">
    <link rel="stylesheet" href="../../libs/google-fonts.css">
    <link rel="stylesheet" href="../../libs/materialize.min.css">
    <link rel="stylesheet" href="css/frente.css">


    <script src="../../libs/jquery.js"></script>


</head>
<body>
    <header>
        <nav class="myColor">
            <div class="nav-wrapper">
              <div class="brand-logo right">🎴</div>
              <ul id="nav-mobile" class="myNav">
                <li> 
                    <div class="mylist">
                        <i class="large material-icons">account_circle</i>
                    </div>
                </li>
                <li> 
                    <p class="nome"></p>
                </li>
              </ul>
            </div>
        </nav>
    </header>
    <main>
        <section class="myButtons">
            <a class="botoes" data-tipo="mesa">MESA</a>
            <a class="botoes" data-tipo="balcao">BALCÃO</a>
        </section>
    </main>
    <script src="js/frente.js"></script>
</body>
</html>