.myButtons{
    align-items: center;
    position: block;
    margin-left: 30%;
    top: 30px;
}

.controles {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.addPedido {
    position: absolute;
    top: 40px;
    left: 13em;
    display: flex;
    align-items: center; 
    justify-content: center;
    cursor: pointer;
    border: 2px solid white;
    border-radius: 15px;
    padding: 20px;
    background: #410961;
    user-select: none;


}

.addPedido p {
    margin-left: 10px;
}

.addPedido:hover {
    background: #7817b1;
}

.lista {
    position: absolute;
    left: 0;
    top: 52%;
    transform: translateY(-50%);
    border: 2px solid white;
    width: 43%;
    height: 330px;
    border-radius: 5px;
    color: rgb(255, 255, 255);
    overflow: auto;
    background: rgb(90, 81, 81) ;
}

.lista li{
    background: rgb(90, 81, 81);
    line-height:1.5rem;
    padding:10px 20px;
    margin:0;
    border-bottom:1px solid #e0e0e0
}

.lista li div i{
    color:#410961;
    cursor: pointer;
}

.lista li div {
    color:#ffffff;
}

.excluir {
    padding-left: 5px;
}
